*.iml
.gradle
/local.properties
/.hvigor
/.hvigor/cache
/.hvigor/outputs
/.hvigor/report
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
